@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";
@import "flyonui/variants.css";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    --color-utama: #06283D;
    --color-lighter-blue : #D3EAFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html,
body {
    scrollbar-width: none;
}
/* Tambahkan ini di app.css Anda */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
@plugin "flyonui";
@source "./node_modules/flyonui/dist/index.js";
@source "./node_modules/flyonui/dist/accordion.js";

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";
